<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chrisspiegl.alfred-create-empty</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1D2BA331-A6CA-40A4-A1EE-4EAD6B5B4F5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E74A8C0-3A9A-4950-A3F3-2925159B8A9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FF83A6D-ED3D-4502-9376-9DC1F6129D98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFFDC3F1-7ED4-4628-AA48-32EEC5F6144A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37B50817-4AFC-4045-B557-7D784612AF36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D2BA331-A6CA-40A4-A1EE-4EAD6B5B4F5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B08EDAA6-D86A-4904-86F8-B363A376A9CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37B50817-4AFC-4045-B557-7D784612AF36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFFDC3F1-7ED4-4628-AA48-32EEC5F6144A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93FEFCD7-1E9E-42A4-8951-7340EED8762B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F71A1287-7CDA-47D5-BCF3-7CA5084DB261</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FF83A6D-ED3D-4502-9376-9DC1F6129D98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Spiegl</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-create-empty</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Create Files with Names in Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B08EDAA6-D86A-4904-86F8-B363A376A9CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/local/bin/node index.js "$1" --files</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D2BA331-A6CA-40A4-A1EE-4EAD6B5B4F5B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Created new files with names from clipboard.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3E74A8C0-3A9A-4950-A3F3-2925159B8A9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>filenames</key>
					<string>{clipboard:1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>37B50817-4AFC-4045-B557-7D784612AF36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Create Folders with Names in Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F71A1287-7CDA-47D5-BCF3-7CA5084DB261</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/local/bin/node index.js "$1" --folders</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DFFDC3F1-7ED4-4628-AA48-32EEC5F6144A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Created new folders with names from clipboard.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93FEFCD7-1E9E-42A4-8951-7340EED8762B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>filenames</key>
					<string>{clipboard:1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2FF83A6D-ED3D-4502-9376-9DC1F6129D98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to to flatten a folder and it's contents

https://github.com/chrisspiegl/alfred-flatten-folder</string>
	<key>uidata</key>
	<dict>
		<key>1D2BA331-A6CA-40A4-A1EE-4EAD6B5B4F5B</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2FF83A6D-ED3D-4502-9376-9DC1F6129D98</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>37B50817-4AFC-4045-B557-7D784612AF36</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>3E74A8C0-3A9A-4950-A3F3-2925159B8A9C</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>93FEFCD7-1E9E-42A4-8951-7340EED8762B</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>B08EDAA6-D86A-4904-86F8-B363A376A9CF</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>DFFDC3F1-7ED4-4628-AA48-32EEC5F6144A</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>F71A1287-7CDA-47D5-BCF3-7CA5084DB261</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
</dict>
</plist>
